USE [master]
GO
/****** Object:  Database [SistemaDeUsuario]    Script Date: 8/05/2024 2:09:24 p. m. ******/
CREATE DATABASE [SistemaDeUsuario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaDeUsuario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaDeUsuario.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaDeUsuario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaDeUsuario_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaDeUsuario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaDeUsuario]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/05/2024 2:09:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[CodigoDeBarras] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[DescripcionProducto] [nvarchar](250) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioCompra] [money] NOT NULL,
	[PrecioVenta] [money] NOT NULL,
	[Estado] [nvarchar](100) NOT NULL,
	[FechaRegistro] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/05/2024 2:09:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FirsName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductoID], [CodigoDeBarras], [Nombre], [DescripcionProducto], [Categoria], [Cantidad], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (1, 11285, N'Logitech f10', N'teclado qwerty', N'teclado', 50, 50000.0000, 90000.0000, N'disponible', N'30/04/2024')
INSERT [dbo].[Products] ([ProductoID], [CodigoDeBarras], [Nombre], [DescripcionProducto], [Categoria], [Cantidad], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (2, 11286, N'Logitech j1', N'teclado qwerty', N'teclado', 10, 40000.0000, 80000.0000, N'agotado', N'30/04/2024')
INSERT [dbo].[Products] ([ProductoID], [CodigoDeBarras], [Nombre], [DescripcionProducto], [Categoria], [Cantidad], [PrecioCompra], [PrecioVenta], [Estado], [FechaRegistro]) VALUES (3, 11287, N'Razer mini', N'mouse 6 botones', N'mouse', 5, 150000.0000, 250000.0000, N'disponible', N'30/04/2024')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirsName], [LastName], [Cargo], [Email]) VALUES (1, N'Jgazcon', N'Nekoo', N'Jefferson', N'Gazcon', N'Administrator', N'Support@SystemAll.biz')
INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirsName], [LastName], [Cargo], [Email]) VALUES (2, N'Daniel', N'admin', N'Lopez', N'Gomez', N'Recepcionista', N'AndresGomez@MyCompany.com')
INSERT [dbo].[Users] ([UserID], [LoginName], [Password], [FirsName], [LastName], [Cargo], [Email]) VALUES (3, N'jtlopez', N'clave', N'Lopez', N'Smith', N'Recepcionista', N'KathySmith@MyCompany.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Products__F6D2C3DB33BC4EE7]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[CodigoDeBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Products__F6D2C3DBE4D13936]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[CodigoDeBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Products__F6D2C3DBFEFCCEFF]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Products] ADD UNIQUE NONCLUSTERED 
(
	[CodigoDeBarras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DB8464FF295689CC]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DB8464FF4BAC03E9]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DB8464FF7446CDBF]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DB8464FF8E9E11CE]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__DB8464FFE8C86217]    Script Date: 8/05/2024 2:09:24 p. m. ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[LoginName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ListaProductos]    Script Date: 8/05/2024 2:09:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListaProductos] 
@inicio INT, @final INT
as
declare @TablaAux table
(
ProductoID INT,
CodigoDeBarras INT,
Nombre NVARCHAR (100),
DescripcionProducto NVARCHAR (250),
Categoria NVARCHAR (100),
Cantidad INT,
PrecioCompra MONEY,
PrecioVenta MONEY,
Estado NVARCHAR (100),
FechaRegistro NVARCHAR (100)
)
INSERT INTO @TablaAux (ProductoID, CodigoDeBarras, Nombre, DescripcionProducto, Categoria, Cantidad, PrecioCompra, PrecioVenta, Estado, FechaRegistro) SELECT ROW_NUMBER() over (order by ProductoID asc) ProductoID, CodigoDeBarras, Nombre, DescripcionProducto, Categoria, Cantidad, PrecioCompra, PrecioVenta, Estado, FechaRegistro FROM Products
SELECT COUNT(*) as cantidad FROM @TablaAux
SELECT * FROM @TablaAux WHERE ProductoID between @inicio and @final
GO
/****** Object:  StoredProcedure [dbo].[ListasUsuarios]    Script Date: 8/05/2024 2:09:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListasUsuarios] 
@inicio int, @final int
as
declare @TablaAux table
(
UserID int,
LoginName nvarchar(100),
Password nvarchar(100),
FirsName nvarchar(100),
LastName nvarchar(100),
Cargo nvarchar(100),
Email nvarchar(150)
)
INSERT INTO @TablaAux (UserID, LoginName, Password, FirsName, LastName, Cargo, Email) SELECT ROW_NUMBER() over (order by UserID asc) UserID, LoginName, Password, FirsName, LastName, Cargo, Email FROM Users
SELECT COUNT(*) as cantidad FROM @TablaAux
SELECT * FROM @TablaAux WHERE UserID between @inicio and @final
GO
/****** Object:  StoredProcedure [dbo].[SP_MOSTRARTABLACLIENTES]    Script Date: 8/05/2024 2:09:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_MOSTRARTABLACLIENTES]
AS
SELECT *FROM Users
GO
USE [master]
GO
